* {
    margin: 0;
    padding: 0;
}
body {
    padding: 30px;
}
img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
li.card {
    display: inline-block;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    margin: 5%;
    position: relative;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}
h3.title {
    margin-bottom: 10px;
    color: blueviolet;
    text-transform: capitalize;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu li {
  text-align: center;
  border: 2px solid blueviolet;
  color: blueviolet;
  padding: 5px 30px;
  margin: 1px;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}
.menu li:hover {
  background-color: blueviolet;
  color: white;
}
.price {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.button-more {
    background: transparent;
    border: none;
    color: blueviolet;
    font-weight: bold;
    text-align: left;
    display: inline;
    padding: 0 0 0 3px;
    width: auto;
    cursor: pointer;
}

.button-more {
  background: transparent;
  border: none;
  color: blueviolet;
  font-weight: bold;
  text-align: left;
  display: inline;
  padding: 0 0 0 3px;
  width: auto;
  cursor: pointer;
}